@import "../../styles/variaveis";

.toolbar{
    width: 100%;
    height: 40vh;
    background: url('../../assets/topo.png');
    display: flex;
    align-items: center;
}
.tituloBox{
    height: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__titulo{
        color: rgb(255, 9, 124);
        font-family: 'Croissant One';
        font-size: 900%  ;
    }
}